@model Job_offers.Models.ApplyForJob

@{
    ViewData["Title"] = "EditForJob";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>EditForJob</h1>

<h4>ApplyForJob</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditForJob">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplyDate" class="control-label"></label>
                <input asp-for="ApplyDate" class="form-control" />
                <span asp-validation-for="ApplyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="حفظ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
